@import "https://fonts.googleapis.com/css2?family=Bitter&family=Courier+Prime&family=IBM+Plex+Sans&family=Merriweather&display=swap";
@import "./fonts/WashingtonText.css";

* {
   box-sizing: border-box;
}

::selection {
   color: #ddcc99;
   background: #502200;
}

::-webkit-scrollbar {
   width: 15px;
   height: 15px;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 10px 5px #502200;
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: #ddcc99;
   box-shadow: inset 0 0 4px 2px #502200;
   border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
   background: #502200;
   box-shadow: inset 0 0 8px 4px #ddcc99;
   border-radius: 15px;
}

::-webkit-scrollbar-corner {
   box-shadow: inset 0 0 10px 5px #ddcc99;
   background: transparent;
}

* {
   scrollbar-width: 15px;
   scrollbar-color: transparent #ddcc99;
}

html {
   margin: 0;
   height: 100%;
   width: 100%;
}

body {
   margin: 0;
   min-height: 100%;
   padding: 0;
   font-family: Merryweather, Bitter, "Times New Roman", serif;
   background-image: url(./sepia-paper.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #ddcc99;
   color: #502200;
   overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "IBM Plex Sans", Verdana, sans-serif;
}

img{
   width: 90%;
   height: auto;
}

header {
   position: fixed;
   background-image: url(./sepia-paper.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #ddcc99;
   margin: 0 0 10px;
   padding: 10px;
   top: 0;
}

div.header-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

hr {
   width: 75%;
   border: none;
   height: 1px;
   color: #502200;
   background: #502200;
}

.title{
   font-family: "Washington Text";
   font-size: 100px;
   text-align: center;
}

.slogan {
   font-family: "Courier Prime", monospace;
   width: 20%;
   border: 1px solid #502200;
   text-align: center;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.head-space {
   font-family: "Courier Prime", monospace;
   font-size: 25px;
   width: 25%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.date {
   font-family: "Courier Prime", monospace;
   font-size: 25px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

article{
   width: 300px;
   height: auto;
   display: inline-block;
   margin: 10px;
   padding: 10px;
   border: 1px solid #502200;
   vertical-align: top;
}

main {
   margin-top: 200px;
}

a {
   transition: 0.3s;
}

a:link {
   color: #502200;
}

a:hover {
   color: black;
   text-shadow: 0 0 1px #502200, 0 0 2px #50220080, 0 0 3px #50220080;
}

a:visited {
   color: #331100;
}