@import "https://fonts.googleapis.com/css2?family=Almendra&family=Bitter&family=Courier+Prime&family=Gupter&family=Merriweather&display=swap";
@import "./fonts/WashingtonText.css";
@import "./fonts/OpenDyslexic.css";

:root, :root.light {
   --im: url(./sepia-paper.jpg);
   --bg: #ddcc99;
   --tx:  #502200;
   --tx5: #50220080;
   --vis: #331100;
   --btn: #ffffff;
}

:root.dark {
   --im: url(./dark-paper.jpg);
   --bg: #502200;
   --tx: #ddcc99;
   --tx5: #ddcc9980;
   --vis: #ccbb66;
   --btn: #000000;
}

* {
   box-sizing: border-box;
}

::selection {
   color: var(--bg);
   background: var(--tx);
}

::-webkit-scrollbar {
   width: 15px;
   height: 15px;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 10px 5px var(--tx);
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: var(--bg);
   box-shadow: inset 0 0 4px 2px var(--tx);
   border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
   background: var(--tx);
   box-shadow: inset 0 0 8px 4px var(--bg);
   border-radius: 15px;
}

::-webkit-scrollbar-corner {
   box-shadow: inset 0 0 10px 5px var(--bg);
   background: transparent;
}

* {
   scrollbar-width: 15px;
   scrollbar-color: transparent var(--bg);
}

/* font groups */

.serif-main {
   font-family: Merryweather, Bitter, "Times New Roman", serif
}

.serif-h {
   font-family: Gupter, Almendra, serif;
}

.serif-mono {
   font-family: "Courier Prime", monospace;
}

.open-dyslexic {
   font-family: OpenDyslexic !important;
}

.dyslexic-mono {
   font-family: OpenDyslexicMono !important;
}

html {
   margin: 0;
   height: 100%;
   width: 100%;
   padding: 10px;
   overflow: auto;
}

body {
   margin: 0;
   width: 100%;
   height: 100%;
   padding: 0px;
   overflow: auto;
   background-image: var(--im);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: var(--bg);
   color: var(--tx);
   overflow-wrap: break-word;
}

img{
   width: 100%;
   height: auto;
}

.options {
   position: sticky;
   top: 0;
   width: 100%;
   height: 50px;
   background-image: var(--im);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: var(--bg);
   padding: 10px 20px;
}

.info {
   position: absolute;
}

header {
   width: 100%;
   margin: 0;
   padding: 30px 20px 0;
   top: 0;
}

div.header-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

hr {
   border: none;
   height: 1px;
   color: var(--tx);
   background: var(--tx);
}

.title{
   font-size: 100px;
   text-align: center;
   font-family: "Washington Text";
}

.slogan {
   font-weight: bold;
   width: 20%;
   border: 1px solid var(--tx);
   text-align: center;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.head-space-l {
   font-size: 25px;
   width: 25%;
   text-align: left;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.head-space-r {
   font-size: 25px;
   width: 25%;
   text-align: right;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.time {
   font-size: 25px;
   width: 25%;
   text-align: right;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.date {
   font-size: 14px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

nav.menu {
   display: flex;
}

.switch {
   cursor: pointer;
   position: absolute;
   top: 0;
   background: #bb9933;
   width: 70px;
   height: 35px;
   border-radius: 35px;
   transition: 0.3s;
}

input[type = checkbox] {
   height: 0;
   width: 0;
   visibility: hidden;
}

.handle {
   position: absolute;
   top: 5px;
   left: 5px;
   width: 25px;
   height: 25px;
   background: var(--btn);
   border-radius: 25px;
   transition: 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;
}

.checked {
   background: var(--tx);
}

input:checked + .handle {
   left: calc(100% - 5px);
   transform: translateX(-100%);
}

.tooltiptext{
   position: absolute;
   visibility: hidden;
   width: 100px;
   font-size: 0.8em;
   background-color: var(--tx);
   color: var(--bg);
   text-align: center;
   border-radius: 7px;
   opacity: 0;
   transition: opacity 0.3s;
   top: 135%;
   left: 50%;
   margin-left: -50px;
}

.tooltiptext::after {
   content: "";
   position: absolute;
   bottom: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent transparent var(--tx)transparent;
}

.switch:hover .tooltiptext{
   visibility: visible;
   opacity: 1;
}

.first {
   grid-row: 1 / span 1;
   grid-column: 2 / span 2;
}

.articles {
   box-sizing: border-box;
   display: grid;
   grid-template-columns: auto auto auto auto;
   gap: 10px;
   padding: 10px 30px 0 10px;
}

article{
   width: 100%;
   height: auto;
   display: inline-block;
   margin: 10px;
   padding: 10px;
   border: 1px solid var(--tx);
   vertical-align: top;
}

main {
   padding: 10px 0;
}

a {
   transition: 0.3s;
}

a:link {
   color: var(--tx);
}

a:hover {
   color: black;
   text-shadow: 0 0 1px var(--tx), 0 0 2px var(--tx5), 0 0 3px var(--tx5);
}

a:visited {
   color: var(--vis);
}

@media screen and (max-width: 800px) {
   ::-webkit-scrollbar {
      width: 0;
      height: 0;
   }
   .slogan {
      display: none;
   }
   .first {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
   }
   .articles {
      grid-template-columns: auto auto auto;
   }
}

@media screen and (max-width: 650px) {
   .time {
      display: none;
   }
}

@media screen and (max-width: 600px) {
   .first {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
   }
   .articles {
      grid-template-columns: auto auto;
   }
}

@media screen and (max-width: 500px) {
   .title {
      font-size: 75px;
   }
   .head-space-l, .head-space-r {
      font-size: 15px;
   }
}

@media screen and (max-width: 450px) {
   .first {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
   }
   .articles {
      grid-template-columns: auto;
   }
}

@media screen and (max-width: 400px) {
   .title {
      font-size: 60px;
   }
   .date {
      font-size: 12px;
   }
}

@media screen and (max-width: 300px) {
   .title {
      font-size: 50px;
   }
   .head-space-l, .head-space-r {
      display: none;
   }
}