@import "https://fonts.googleapis.com/css2?family=Almendra&family=Bitter&family=Courier+Prime&family=Gupter&family=Merriweather&display=swap";
@import "./fonts/WashingtonText.css";
@import "./fonts/OpenDyslexic.css";

* {
   box-sizing: border-box;
}

::selection {
   color: #ddcc99;
   background: #502200;
}

::-webkit-scrollbar {
   width: 15px;
   height: 15px;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 10px 5px #502200;
   background: transparent;
}

::-webkit-scrollbar-thumb {
   background: #ddcc99;
   box-shadow: inset 0 0 4px 2px #502200;
   border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
   background: #502200;
   box-shadow: inset 0 0 8px 4px #ddcc99;
   border-radius: 15px;
}

::-webkit-scrollbar-corner {
   box-shadow: inset 0 0 10px 5px #ddcc99;
   background: transparent;
}

* {
   scrollbar-width: 15px;
   scrollbar-color: transparent #ddcc99;
}

/* font groups */

.serif-main {
   font-family: Merryweather, Bitter, "Times New Roman", serif
}

.serif-h {
   font-family: Gupter, Almendra, serif;
}

.serif-mono {
   font-family: "Courier Prime", monospace;
}

.open-dyslexic {
   font-family: OpenDyslexic !important;
}

.dyslexic-mono {
   font-family: OpenDyslexicMono !important;
}

html {
   margin: 0;
   height: 100%;
   width: 100%;
   padding: 10px;
   overflow: auto;
}

body {
   margin: 0;
   width: 100%;
   height: 100%;
   padding: 0px;
   overflow: auto;
   background-image: url(./sepia-paper.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #ddcc99;
   color: #502200;
   overflow-wrap: break-word;
}

img{
   width: 100%;
   height: auto;
}

.options {
   position: sticky;
   top: 0;
   width: 100%;
   background-image: url(./sepia-paper.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #ddcc99;
   padding: 10px 20px;
}

.info {
   position: absolute;
}

header {
   width: 100%;
   margin: 0;
   padding: 30px 20px 0;
   top: 0;
}

div.header-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

hr {
   border: none;
   height: 1px;
   color: #502200;
   background: #502200;
}

.title{
   font-size: 100px;
   text-align: center;
   font-family: "Washington Text";
}

.slogan {
   font-weight: bold;
   width: 20%;
   border: 1px solid #502200;
   text-align: center;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.head-space-l {
   font-size: 25px;
   width: 25%;
   text-align: left;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.head-space-r {
   font-size: 25px;
   width: 25%;
   text-align: right;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.time {
   font-size: 25px;
   width: 25%;
   text-align: right;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.date {
   font-size: 14px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

nav.menu {
   display: flex;
}

.font-switch {
   cursor: pointer;
   position: absolute;
   background: gray;
   width: 70px;
   height: 35px;
   border-radius: 35px;
   transition: 0.3s;
}

input[type = checkbox] {
   height: 0;
   width: 0;
   visibility: hidden;
}

.handle {
   position: absolute;
   top: 5px;
   left: 5px;
   width: 25px;
   height: 25px;
   background: #ffffff;
   border-radius: 25px;
   transition: 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;  
}

.checked {
   background: #502200;
}

input:checked + .handle {
   left: calc(100% - 5px);
   transform: translateX(-100%);
}

.articles {
   padding: 0 10px 10px;
}

article{
   width: 300px;
   height: auto;
   display: inline-block;
   margin: 10px;
   padding: 10px;
   border: 1px solid #502200;
   vertical-align: top;
}

main {
   padding: 10px 0;
}

a {
   transition: 0.3s;
}

a:link {
   color: #502200;
}

a:hover {
   color: black;
   text-shadow: 0 0 1px #502200, 0 0 2px #50220080, 0 0 3px #50220080;
}

a:visited {
   color: #331100;
}